{% extends 'twt/base.html' %}

{% block twt %}

<div class="tweety">
    <div class="zagolovok"><h1>{{ title }}</h1></div>
    <div class="content">
        <div class="post">
                <form method="post">
                {% csrf_token %}
                <div class="main-signin">
                    {% for f in form %}
                    <p class="middle__form">{{f.label}}:{{ f }}
                    {% endfor %}
                    <input type="submit" value="Регистрация"></p>
                </div>
                </form>
        </div>
    </div>
</div>

{% endblock twt %}